#exp{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee1b3;
}
.header{
    padding-bottom: 80px;
}
.containerexp{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    width: 100%;
}
.timeline {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 80%;
    max-width: 60%;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: #eee1b3;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
  }
  .timeline-content p {
    line-height: 30px;
  }
  .timeline-date{
    margin-bottom: -40px;
  }

  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: #2f394d;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #2f394d;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: green;
    }
  }
  
