footer{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: -200px;
    padding-bottom: 0px;
    background-color: #111111;
}
footer img{
    margin: auto auto;
}