#professional {
  text-align: center;
  min-height: 100vh;
  /* padding-bottom: -50px; */
}
#pad {
  padding-top: 50vh;
}
#cover-photo {
  object-fit: cover;
  z-index: -1;
}
#lan-list {
  margin: 0 40%;
  margin-top: 40px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 auto;
}

#lan-list li {
  display: flex;
  justify-content: center;
}
#language-name {
  flex: 0 0 20%;
}
#lan {
  flex: 0 0 80%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
#lan-bar{
  margin: 0 30%;
}
#prof-bar{
  background-color: green;
}
@media only screen and (min-width: 320px) {
  #pro-title {
    padding-top: 20px;
    margin-bottom: -50px;
    font-size: 48px;
  }
  #lan-list {
    margin: 0 10%;
    margin-top: -70px;
    font-size: 12px;
    /* margin-bottom: -50px; */
  }

}
@media only screen and (min-width: 375px) {
  #professional {
    text-align: center;
    min-height: 120vh;
  }
  #pro-title {
    padding-top: 100px;
    margin-bottom: -50px;
    font-size: 48px;
  }
}
@media only screen and (min-width: 768px) {
  #professional {
    min-height: 160vh;
  }
  #pro-title {
    font-size: 72px;
  }
  #lan-list {
    margin: 0 10%;
    margin-top: 0px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  #professional {
    min-height: 160vh;
  }
  #pro-title {
    font-size: 72px;
  }
  #lan-list {
    margin: 0 20%;
    margin-top: 0px;
    font-size: 32px;
  }
}
@media only screen and (min-width: 2560px) {
  #professional {
    min-height: 160vh;
  }
  #pro-title {
    font-size: 120px;
  }
  #pro-sub {
    font-size: 76px;
  }
  #lan-list {
    margin: 0 20%;
    margin-top: 0px;
    font-size: 50px;
  }
}
